.App {
  text-align: center;
  height: 400px;
  width: 300px;
  justify-content: center;
  overflow: auto;
  scroll-behavior: smooth;
}
.btn {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.news {
  height: 44px;
  margin: 2px 0 ;
  border: 1px solid rebeccapurple;
  background-color: skyblue;
}
